@model Testing.Models.TestingModel
@{
    ViewBag.Title = "Home Page";
}

@using (@Html.BeginForm("FileUploadSave", "Home", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))

{
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <table>

                <tr>

                    <td>

                        <input type="file" id="file_Uploader" name="file_Uploader" />
                        @Html.ValidationMessageFor(model => model.FileName)

                    </td>

                    <td>
                        <input type="submit" id="bttn_Upload" value="Upload" />

                    </td>

                </tr>



            </table>
        </div>
    </div>*@

<div class="row">
    <div class="form-inline col-md-12 col-sm-12" role="form">
        <div class="form-group col-md-3 col-sm-12">
            <input type="file" id="uploadFile" name="uploadFile" class="btn btn-default btn-sm col-md-12" /> &nbsp;&nbsp;
        </div>
        <div class="form-group col-md-2 col-sm-12 pull-left">
            <button type="submit" class="btn btn-sm btn-custom1 col-md-8">Import</button>
        </div>       
        <div class="col-md-2 col-md-12">
            <select class="form-control input-sm" id="PageSize" name="PageSize">
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
}
<script type="text/javascript">

</script>
